html{
    font-family: 'inter';
}

body {
    margin: 0;
}
.azul{
    background-color: #0c70f2;
    color: aliceblue;
    width: 1608px;
    height: 103px;
    display: flex;
    align-items: center;
}
.azul > h1 {
    font-size: 50px;
    width: 310px;
    height: 61px;
    margin-top: 21px;
    margin-left: 56px;
    margin-right: 600px;
    font-weight: 800px;
}
.azul-p {
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 800px;
    text-align: right;
}
.meio {
    width: 1608px;
    height: 2881px;
    margin-top: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary {
    display: flex;
    align-items: center;
}
.primary > h1 {
    width: 879px;
    height: 282px;
    margin-top: 226px;
    margin-left: 100px;       
    font-size: 50px;
    font-weight: 800px;
}
img {
    width: 200px;
    height: 216px;
    margin-top: 17px;
    margin-left: 33px;
}

.campo-de-dados {
    background-color: #ffffff;
    width: 859px;
    height: 930px;
    border-radius: 10px;
    margin-top: 235px;
}
.campo-de-dados > p {
    width: 683px;
    height: 30px;
margin-left: 70px;
}